page-move-money {
    ion-item{
		margin-bottom:10px !important;
		background-color: transparent!important;
	}
	
	.select-md .select-icon .select-icon-inner {
		color : #cf7c34 !important;
		left : unset !important;
	}
}
