page-challenge {
	.vertical-center{
		margin: 0;
		position: absolute;
		top: 40%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	ion-item{
		margin-bottom:10px !important;
		background-color: transparent!important;
		box-shadow: none!important;
	}

	.select-md .select-icon .select-icon-inner {
		color : #cf7c34 !important;
		left : unset !important;
	}
}
