page-advert {
  .one,
  .two,
  .three {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  // .one {
  //   background-image: url('../assets/img/1.jpg');
  // }
  .two {
    background-image: url('../assets/img/2.jpg');
  }
  .three {
    background-image: url('../assets/img/3.jpg');
  }
  .img-slider{
		& .swiper-pagination-bullet{ background-color: #CE7A28 !important; }
		& .swiper-pagination-bullet-active{ background: #fff !important; border: 1px solid #CE7A28!important}

	}
}
