page-transaction-details {
  ion-item {
    p,
    p * {
      font-size: 10px;
    }
    h2,
    h2 * {
      font-weight: bold !important;
      font-size: 12px;
    }
    ion-label {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
  .t-info {
    padding: 8px 16px;
    text-align: center;
    color: color($colors, light);
    background: color($colors, primary);
    font-weight: bold !important;
    p {
      margin: 0px 0px;
      padding: 0px 0px;
      font-size: 18px;
    }
    ion-icon {
      margin: 8px;
      font-size: 32px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border: solid 2px color($colors, light);
      border-radius: 20px;
    }
  }
}
