page-claim-from {

	
	.formicon{
		margin-right:10px !important;
	}
	ion-item{
		margin-bottom:10px !important;
		background-color: transparent!important;
		box-shadow: none!important;
	}

	.select-md .select-icon .select-icon-inner {
		color : #cf7c34 !important;
		left : unset !important;
	}
}
