page-claim-from {
	ion-item{
		margin:5px 0px !important;
	}
	.full-width{
		width:100% !important;
		min-width:100%;
		max-width:100%;
	}
	.formicon{
		margin-right:10px !important;
	}
}
