<!--
  Generated template for the MoveMoneyServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="title-icon">{{test ? 'Test -' : ''}} {{service.name}}</ion-title>
    <ion-buttons end>
      <button ion-button class="my-rounded-b" round outline icon-end color="danger" (click)="logOut()">
        Log Out
        <ion-icon name="lock"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="service.movemoneyid !== '99'">
    <ion-item (tap)="selectAccount(0)">
      <ion-label color="darkText" stacked>
        Source Account
      </ion-label>
      <ion-input placeholder="Select Source Account..." type="text" disabled readonly="true" clearInput [(ngModel)]="sourceAccount.account"></ion-input>
    </ion-item>
    <ion-item *ngIf="service.banktype === 'A'" (tap)="selectAccount(1)">
      <ion-label color="darkText" stacked>
        Beneficiary Account
      </ion-label>
      <ion-input placeholder="Select Beneficiary Account..." type="text" disabled readonly="true" clearInput [(ngModel)]="destinationAccount.account"></ion-input>
    </ion-item>

    <ion-item *ngIf="service.banktype === 'L'" (tap)="selectBeneficial()">
      <ion-label color="darkText" stacked>
        Beneficiary
      </ion-label>
      <ion-input placeholder="Select Beneficiary..." type="text" disabled readonly="true" clearInput [(ngModel)]="beneficial.name" (ngModelChange)="beneficialNameChange($event)"></ion-input>
    </ion-item>

    <ion-item *ngIf="service.banktype === 'B'" (tap)="selectBank()">
      <ion-label color="darkText" stacked>
        Beneficiary Bank
      </ion-label>
      <ion-input placeholder="Select Beneficiary Bank..." type="text" disabled readonly="true" clearInput [(ngModel)]="bank.bankname"></ion-input>
    </ion-item>
    <ion-item *ngIf="service.banktype === 'B'">
      <ion-label color="darkText" stacked>
        Beneficiary Account
      </ion-label>
      <ion-input placeholder="Enter Beneficiary Account..." type="tel" clearInput [(ngModel)]="destinationAccount.account"></ion-input>
    </ion-item>
    <ion-item *ngIf="service.banktype === 'P'">
      <ion-label color="darkText" stacked>
        Card Number
      </ion-label>
      <ion-input placeholder="Enter Card Number..." type="tel" clearInput [(ngModel)]="destinationAccount.account"></ion-input>
    </ion-item>
    <ion-item *ngIf="service.banktype === 'B' || service.banktype === 'M' || service.banktype === 'O' || service.banktype === 'P'">
      <ion-label color="darkText" stacked>
        Beneficiary Name
      </ion-label>
      <ion-input placeholder="Enter Beneficiary Name..." type="text" clearInput [(ngModel)]="beneficial.name" style="width:80%;"></ion-input>
      <ion-icon name="contacts" (tap)="selectContacts()" item-end style="float:right;font-size: 24px"></ion-icon>
    </ion-item>
    <ion-item *ngIf="service.banktype === 'B' || service.banktype === 'M' || service.banktype === 'O' || service.banktype === 'P'">
      <ion-label color="darkText" stacked>
        Beneficiary Phone
      </ion-label>
      <ion-input placeholder="Enter Beneficiary Phone..." type="tel" clearInput [(ngModel)]="beneficial.benphone"></ion-input>
    </ion-item>
    <ion-item *ngIf="service.banktype === 'B' || service.banktype === 'P'">
      <ion-label color="darkText" stacked>
        Beneficiary Email
      </ion-label>
      <ion-input placeholder="Enter Beneficiary Email..." type="email" clearInput [(ngModel)]="beneficial.email"></ion-input>
    </ion-item>
    <ion-item *ngIf="service.banktype === 'O'" (tap)="selectOperator()">
      <ion-label color="darkText" stacked>
        Operator
      </ion-label>
      <ion-input placeholder="Select Operator..." type="text" disabled readonly="true" clearInput [(ngModel)]="operator.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="darkText" stacked>
        Amount
      </ion-label>
      <ion-input placeholder="Enter Amount..." type="tel" clearInput [(ngModel)]="amount"></ion-input>
    </ion-item>
    <ion-item (tap)="selectCurrency()">
      <ion-label color="darkText" stacked>
        Currency
      </ion-label>
      <ion-input placeholder="Select Currency..." type="text" disabled readonly="true" clearInput [(ngModel)]="currency.isocode"></ion-input>
    </ion-item>
    <ion-item *ngIf="service.hasquestion === 'Y'">
      <ion-label color="darkText" stacked>
        Secret Question
      </ion-label>
      <ion-input placeholder="Enter Secret Question..." type="text" clearInput [(ngModel)]="secretquestion"></ion-input>
    </ion-item>
    <ion-item *ngIf="service.hasquestion === 'Y'">
      <ion-label color="darkText" stacked>
        Secret Answer
      </ion-label>
      <ion-input placeholder="Enter Secret Answer..." type="text" clearInput [(ngModel)]="secretanswer"></ion-input>
    </ion-item>
    <ion-item *ngIf="service.hascountry === 'Y'" (tap)="selectCountry()">
      <ion-label color="darkText" stacked>
        Country
      </ion-label>
      <ion-input placeholder="Select Country..." type="text" disabled readonly="true" clearInput [(ngModel)]="country.name"></ion-input>
    </ion-item>
    <ion-item *ngIf="service.banktype !== 'P'">
      <ion-label color="darkText" stacked>
        Comments/Description
      </ion-label>
      <ion-input placeholder="Enter Comments..." type="text" clearInput [(ngModel)]="description"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Manage -->
  <ion-list *ngIf="service.movemoneyid === '99'">
    <ion-item *ngFor="let ben of bens">
      <h2>{{ben.name}}</h2>
      <button ion-button outline icon-left item-end color="danger" (tap)="continue(ben)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item>
  </ion-list>
  <!-- /Manage -->

  <div class="form-action no-top-padding" *ngIf="service.movemoneyid !== '99'">
    <button ion-button block (tap)="continue(null)">
      Continue
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>

  <div class="loader-load" *ngIf="fetching">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <div class="loader-ret">{{ret}}{{contactList}}</div>
</ion-content>
