page-my-money {
  ion-navbar {
    height: 56px;
  }
  .accounts {
    margin-bottom: 0px;
  }
  .grid-menu {
    .grid-menu-item {
      display: block;
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 154px;
      text-align: center;
      vertical-align: top;
      .grid-menu-item-inner {
        display: block;
        height: 144px;
        ion-icon {
          display: block;
          height: 114px;
          width: 114px;
          border: 1px solid color($colors, primary);
          border-radius: 64px;
          line-height: 114px;
          font-size: 64px;
          margin-bottom: 8px;
        }
        i {
          font-style: normal;
          font-size: 12px;
          display: inline-block;
          height: 16px;
          width: 114px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
