page-open-wallet-account {
	.formicon{
		margin-right:10px !important;
	}
	ion-item{
		margin-bottom:10px !important;
		background-color: transparent!important;
	}
	.full-width
	{
		width:100% !important;
		min-width:100%;
		max-width:100%;
	}
}
