<!--
  Generated template for the OpenWalletAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="title-icon">{{test ? 'Test -' : ''}} Open Wallet Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="bank-background">

    <ion-item>
      <ion-icon class="formicon" name="person" item-start></ion-icon>
      <ion-input class="input-class" type="text" clearInput [(ngModel)]="data.fname" placeholder="Enter First Name..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon class="formicon" name="person" item-start></ion-icon>
      <ion-input class="input-class" type="text" clearInput [(ngModel)]="data.lname" placeholder="Enter Last Name..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon class="formicon" name="transgender" item-start></ion-icon>
      <ion-select class="input-class" interface="popover" [(ngModel)]="data.gender" placeholder="Select Gender...">
        <!-- <ion-option value="">Select Gender</ion-option> -->
        <ion-option value="7">Female</ion-option>
        <ion-option value="8">Male</ion-option>
      </ion-select>
    </ion-item>
    <ion-item (tap)="selectDate()">
      <ion-icon class="formicon" name="calendar" item-start></ion-icon>
      <ion-input class="input-class" type="text" disabled readonly="true" clearInput [(ngModel)]="data.dob" placeholder="Select Date fo Birth..."> </ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-label color="darkText" floating>
        Date Of Birth
      </ion-label>
      <ion-datetime placeholder="Select Date Of Birth..." displayFormat="DD/MM/YYYY" [(ngModel)]="data.dob"></ion-datetime>
    </ion-item>-->
    <ion-item>
      <ion-icon class="formicon" name="call" item-start></ion-icon>
      <ion-input class="input-class" type="tel" clearInput [(ngModel)]="data.phone" placeholder="Enter Phone..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon class="formicon" name="mail" item-start></ion-icon>
      <ion-input class="input-class" type="email" clearInput [(ngModel)]="data.email" placeholder="Enter Email..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon class="formicon" *ngIf="!province_loading" name="medical" item-start></ion-icon><ion-spinner *ngIf="province_loading" name="bubbles"></ion-spinner>
      <ion-select class="input-class" interface="popover" [(ngModel)]="data.province" (ngModelChange)="provinceChange($event)" placeholder="Enter Province...">
        <!-- <ion-option value="">Province</ion-option> -->
        <ion-option *ngFor="let province of provinces" [value]="province.code">{{province.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-icon class="formicon" *ngIf="!district_loading" name="outlet" item-start></ion-icon><ion-spinner *ngIf="district_loading" name="bubbles"></ion-spinner>
      <ion-select class="input-class" interface="popover" [(ngModel)]="data.district" (ngModelChange)="districtChange($event)" placeholder="Enter District...">
        <!-- <ion-option value="">District</ion-option> -->
        <ion-option *ngFor="let district of districts" [value]="district.code">{{district.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-icon class="formicon" *ngIf="!sector_loading" name="pin" item-start></ion-icon><ion-spinner *ngIf="sector_loading" name="bubbles"></ion-spinner>
      <ion-select class="input-class" interface="popover" [(ngModel)]="data.sector" (ngModelChange)="sectorChange($event)" placeholder="Enter Sector...">
        <!-- <ion-option value="">Sector</ion-option> -->
        <ion-option *ngFor="let sector of sectors" [value]="sector.code">{{sector.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon class="formicon" name="list" item-start></ion-icon>
      <ion-input class="input-class" type="number" clearInput [(ngModel)]="data.nid" placeholder="Enter National ID..."></ion-input>
    </ion-item>
  </ion-list>

  <ion-input class="submit-input" type="text" (ionFocus)="openAccount()" *ngIf="data.fname.length > 0 && data.lname.length > 0 && data.dob.length > 0 && data.phone.length > 0 && data.province.length > 0 && data.district.length > 0 && data.sector.length > 0 && data.nid.length > 0"></ion-input>
  <div class="form-action no-top-padding" *ngIf="data.fname.length > 0 && data.lname.length > 0 && data.dob.length > 0 && data.phone.length > 0 && data.province.length > 0 && data.district.length > 0 && data.sector.length > 0 && data.nid.length > 0">
    <button ion-button icon-left block (tap)="openAccount()">
      <ion-icon class="formicon" name="checkmark-circle"></ion-icon>
      Open Account
    </button>
  </div>

  <div class="loader-ret">{{ret}}</div>

  <div class="loader-load" *ngIf="authenticating">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

</ion-content>
