page-alert-success {
  .prim-colo {
    background: color($colors, primary);
    color: color($colors, light);
    .all-content {
      position: fixed;
      display: block;
      width: calc(100vw - 56px);
      right: 0;
      left: 0;
      bottom: 32px;
      margin: 0px auto;
      overflow: visible;
      padding-top: 32px;
      .ic {
        display: block;
        height: 72px;
        width: 72px;
        line-height: 64px;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0px auto;
        top: -64px;
        border: solid 3px color($colors, light);
        border-radius: 50%;
        ion-icon {
          font-size: 64px;
        }
      }
      .te {
        display: block;
        text-align: center;
        h2,
        .txtx {
          margin-bottom: 32px;
        }
        .auto-dismis {
          text-align: center;
          .loader-dis {
            display: inline-block;
            height: 80px;
            width: 80px;
            line-height: 80px;
            position: relative;
            .canc {
              display: block;
              position: absolute;
              height: 56px;
              width: 56px;
              text-align: center;
              line-height: 56px;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              background: color($colors, danger);
              border-radius: 28px;
              ion-icon {
                margin: 0px;
                padding: 0px;
                height: 56px;
                line-height: 56px;
                color: color($colors, light);
              }
            }
          }
          .txt {
            margin-top: 8px;
          }
        }
      }
    }
  }
}
