<!--
  Generated template for the NewToTheAppPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="title-icon">{{test ? 'Test -' : ''}} Activate Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list class="bank-background" no-lines>

    <ion-item>
      <!-- <ion-icon class="formicon" name="person" item-start></ion-icon> -->
      <ion-input class="input-rounded" placeholder="Enter First Name..." type="text" clearInput [(ngModel)]="data.fname"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon class="formicon" name="person" item-start></ion-icon> -->
      <ion-input class="input-rounded" placeholder="Enter Last Name..." type="text" clearInput [(ngModel)]="data.lname"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon class="formicon" name="apps" item-start></ion-icon> -->
      <ion-input class="input-rounded" placeholder="Enter Account Number..." type="tel" clearInput [(ngModel)]="data.accountnumber"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="transgender" item-start></ion-icon> -->
      <ion-select  interface="popover" [(ngModel)]="data.gender" placeholder="Select Gender..." class="full-width input-rounded">
        <!-- <ion-option value="">Select Gender...</ion-option> -->
        <ion-option value="7">Female</ion-option>
        <ion-option value="8">Male</ion-option>
      </ion-select>
    </ion-item>
    <ion-item (tap)="selectDate()">
      <!-- <ion-icon class="formicon" name="calendar" item-start></ion-icon> -->
      <ion-input class="input-rounded" placeholder="Select Date Of Birth..." type="text" disabled readonly="true" clearInput [(ngModel)]="data.dob"></ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-label color="darkText" stacked>
        Date Of Birth
      </ion-label>
      <ion-datetime placeholder="Select Date Of Birth..." displayFormat="DD/MM/YYYY" [(ngModel)]="data.dob"></ion-datetime>
    </ion-item>-->
    <ion-item>
       <!-- <ion-icon class="formicon" name="call" item-start></ion-icon> -->
      <ion-input class="input-rounded" placeholder="Enter Phone..." type="tel" clearInput [(ngModel)]="data.phone"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon class="formicon" name="mail" item-start></ion-icon> -->
      <ion-input class="input-rounded" placeholder="Enter Email..." type="email" clearInput [(ngModel)]="data.email"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon class="formicon" name="list" item-start></ion-icon> -->
      <ion-input class="input-rounded" placeholder="Enter National ID..." type="number" clearInput [(ngModel)]="data.nid"></ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-label color="darkText" stacked>
        Has Card
      </ion-label>
      <ion-select interface="popover" [(ngModel)]="data.hascard">
        <ion-option value="No">No</ion-option>
        <ion-option value="Yes">Yes</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="data.hascard === 'Yes'">
      <ion-label color="darkText" stacked>
        Card Number
      </ion-label>
      <ion-input placeholder="Enter Card Number..." type="tel" clearInput [(ngModel)]="data.cardnumber"></ion-input>
    </ion-item>-->
  </ion-list>

  <ion-input class="submit-input" type="text" (ionFocus)="openAccount()" *ngIf="data.fname.length > 0 && data.lname.length > 0 && data.dob.length > 0 && data.phone.length > 0 && data.nid.length > 0"></ion-input>
  <div class="form-action no-top-padding" >
    <button ion-button block round (tap)="openAccount()">
      <!-- <ion-icon name="checkmark-circle"></ion-icon> -->
      Activate Account
    </button>
  </div>

  <div class="loader-ret">{{ret}}</div>

  <div class="loader-load" *ngIf="authenticating">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

</ion-content>
