page-authenticate {
    
  ion-toolbar {
    height: 56px;
  }

  ion-content {
    .not-user {
      text-align: right;
      padding: 0px!important;
    }
    #wrapping {
      display: block !important;
      width: 100vw !important;
      height: 100vh !important;
      position: relative !important;
      #wrapping-inner {
        display: block !important;
        width: 100vw !important;
        height: 560px !important;
        position: absolute !important;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        #main-logo {
          height: 270px !important;
          margin-top: -120px !important;
          background-size: 38%!important;
          .branded-title {
            padding-right: 0px;
            background-image: none;
            font-size: 24px;
            font-weight: 300;
          }
        }
        .textClass{
            min-width: 30px !important;
            max-width: 30px !important;
            width: 30px;
            height: 30px !important;
            color: #937001 !important;
            border: 2px solid;
            border-radius: 50%;
          }
          .textClassChange{
            min-width: 30px !important;
            max-width: 30px !important;
            width: 30px;
            height: 30px !important;
            color: #937001 !important;
            border: 2px solid;
            border-radius: 50%;
            background-color:#937001 !important;
          }
          .custGrid{
            text-align:center;
            font-size:20px;
            background: #f2f2f2;
          }
          .cust-col{
            padding:15px;
            border: 1px solid #e4e4e4;
          }
        div .fgt-btn{
         // margin:15px !important;
          text-align:center !important;
          font-family: 'BrandFont' !important;
          font-size: 15px !important;
        }
        .small-buttons-a,
        .small-buttons-b
                 {
          display: block;
          width: 40vw;
          height: 56px;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
        }
        .smallbuttons
        {
          display: block;
          width: 40vw;
          height: 56px;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          bottom:0px;
        }
        .small-buttons-a {
          background-image: url('../assets/img/activate.png');
          background-position: left;
          left: 0px;
        }
        .small-buttons-b {
          background-image: url('../assets/img/open.png');
          background-position: right;
          right: 0px;
        }
        .small-buttons-c{
          position: inherit;
          display: block;
          width: 40vw;
          height: 56px;
          background-repeat: no-repeat;
          background-size: contain;
          margin-left: 30%;
          background-image: url('../assets/img/reset.png');
          background-position: center;
          right: 0px;
        }
        #main-logo {
          margin-bottom: 0px !important;
          padding-bottom: 0px !important;
        }
        .loader-ret {
          margin: 16px 0px 0px 0px !important;
          padding: 0px !important;
          background-color: rgba(0, 0, 0, 0) !important;
        }
        .app-name {
          display: none !important;
        }
        .bottom-logo {
          display: block;
          height: 60px;
          margin-top: -74px;
          background-image: url('../assets/img/logo-bottom.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        //  margin-bottom: 24px;
        }
        .no-bg-color,
        .no-bg-color * {
          background: rgba(0, 0, 0, 0) !important;
        }
        ion-input {
          margin: 16px 16px 0px 16px !important;
          /*border: solid 3px color($colors, primary) !important;*/
          border: solid 1px rgba(color($colors, primary), 0.5) !important;
          padding: 0px 16px !important;
          border-radius: 10px !important;
          min-width: calc(100vw - 32px) !important;
          max-width: calc(100vw - 32px) !important;
          width: calc(100vw - 32px) !important;
          height: 48px !important;
          position: relative !important;
          overflow: hidden !important;
          input {
            font-family: 'BrandFont' !important;
            font-weight: 600 !important;
            font-size: 30px !important;
            position: absolute !important;
            padding: 0px 0px !important;
            min-width: calc(100vw - 64px) !important;
            max-width: calc(100vw - 64px) !important;
            width: calc(100vw - 64px) !important;
            height: 32px !important;
            max-height: 32px !important;
            top: 5px !important;
            left: 15px !important;
            line-height: 32px !important;
            margin: 0px 0px !important;
          }
          input::placeholder {
            text-transform: capitalize !important;
          }
        }
      }
    }
  }
  .no-bg-color{
    margin-bottom:0px !important;
  }
  
 
}
