<ion-content no-bounce>
  <div id="wrapping">
    <div id="wrapping-inner">
      <div id="main-logo">
        <div class="app-name">
          <span class="branded-title">
            <span class="title-dark-text">mobile</span> wallet {{test ? '- Test'
            :
            ''}}
          </span>
        </div>
      </div>

      <div class="bottom-logo">
        &nbsp;
      </div>

      <div class="loader-load" *ngIf="authenticating || !vis">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>

      <div *ngIf="vis">
        <div *ngIf="user === null">
          <ion-input *ngIf="!authenticating" placeholder="Phone..." type="tel"
            clearInput [(ngModel)]="login"></ion-input>
          <ion-input *ngIf="!authenticating" placeholder="PIN..." type="tel"
            class="input-pin" clearInput [(ngModel)]="pass"
            (ngModelChange)="pinChange_()"></ion-input>
        </div>

        <div *ngIf="user !== null">
          <ion-item *ngIf="!authenticating" class="no-bg-color" no-lines
            style="text-align:center;">
            <h2>Continue as {{user.name}}</h2>
            <p>{{user.phone}}</p>
          </ion-item>

          <ion-input *ngIf="!authenticating" placeholder="PIN..." type="tel"
            class="input-pin" clearInput [(ngModel)]="pass"
            (ngModelChange)="pinChange()"></ion-input>

          <div class="form-action" *ngIf="!authenticating">
            <button ion-button icon-left color="danger" block clear
              (click)="notUser()">
              Not {{user.name}}?
            </button>
          </div>
        </div>

        <div *ngIf="ret.length> 0">
          <div class="loader-ret">{{ret}}</div>
        </div>

        <div *ngIf="!authenticating" class="fgt-btn"
          (tap)="forgotPin()">
          Lost Your Pin Click <a>Here</a> ?
        </div>
        <div *ngIf="!authenticating" class="small-buttons-a" margin-left
          (tap)="register()">
          &nbsp;
        </div>
        <div *ngIf="!authenticating" class="small-buttons-b" margin-right
          (tap)="open()">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</ion-content>
