.errors-list {
  li {
    color: color($colors, danger);
  }
}
.pin-errors {
  p {
    color: color($colors, danger);
  }
}
ion-icon{
  margin-right:10px !important;
}
ion-item{
  margin-bottom:10px !important;
}
